h1 {
    text-align: center;
    background-color: black;
    padding: 30px 40px 50px 60px;
    font-size: 2.7rem;
  }	
  
  
  header nav ul li a{
    color: white;
    text-decoration: none;      
  }
  
  .texto-imagen{
    display: grid;
    grid-template-areas: "parrafo1 parrafo2";
    grid-template-columns: 750px 750px;
    gap: 10px;
  }

  .parrafo1{
      text-align: justify;
      grid-area: parrafo1;
      margin: 0px 0px 10px 10px;
    }
    .parrafo2{
      text-align: justify;
      grid-area: parrafo2;
      margin: 0px 10px 10px;
    
    }
  
  .imagen1{
    display: none;
     
   }

 