@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

/* Index */


h1 {
  text-align: center;
  background-color: black;
  padding: 30px 40px 50px 60px;
  font-size: 2.7rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}


h2 {
  background-color: rgb(184, 158, 183);
  color: black;
  text-align: center;
  font-size: 1.3rem;
  margin: 60px 0px 30px 0px;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
}

.media{
  width: 1479px;
  height: 660px;
}

/* bibliografia */
.texto-imagen {
  display: grid;
  grid-template-areas: "parrafo1 parrafo2";
  grid-template-columns: 750px 750px;
  gap: 10px;
}
.texto-imagen .parrafo1 {
  text-align: justify;
  grid-area: parrafo1;
  margin: 0px 0px 10px 10px;
}
.texto-imagen .parrafo2 {
  text-align: justify;
  grid-area: parrafo2;
  margin: 0px 10px 10px;
}





/* Discografia */

.disco {
  display: grid;
  grid-template-areas: "imagen1 imagen2 imagen3 imagen4" "imagen1 imagen2 imagen3 imagen4" "imagen1 imagen2 imagen3 imagen4" "imagen1 imagen2 imagen3 imagen4" "imagen1";
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: 350px 350px 350px 350px 350px;
  gap: 10px;
  justify-content: center;
}

.disco-titulo {
  height: 40px;
  width: 300px;
  text-align: center;
  color: white;
}
.disco-titulo-decotarion-none {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.disco-titulo-decotarion-none:hover {
  transform: scale(1.1);
}


/* Tienda */

.talles {
  font-size: 1.2rem;
}

.local1 {
  display: flex;
  justify-content: space-around;
}
.local1 .flex {
  display: block;
  margin: 0 0 0 20px;
}
.local1 .tienda {
  text-align: center;
}
.local1 form select {
  transition-duration: 0.5s;
  padding: 10px 5px 10px 5px;
  font-size: 1rem;
  border-radius: 5px;
  color:  rgb(118, 94, 118);
  border-bottom:  rgb(184, 158, 183);
}
.local1 form select:hover{
  background-color:  rgb(184, 158, 183);
  box-shadow: 0px 0px 30px  rgb(184, 158, 183);
  color:  #fff; 
}

.local1 form select:hover > .local1 form select option{
  opacity: 1;
}

.paises{
  color: #fff;
  border: none;
  background-color: transparent;   
}

.local1 form select option{
  transition-duration: 0.5s;
  padding: 10px 5px 10px 5px;
  font-size: 1rem;
  border-radius: 5px;
  color:  rgb(118, 94, 118);
  border-bottom:  rgb(184, 158, 183);
}

.local1 form select option:hover{
  background-color:  black;
  box-shadow: 0px 0px 30px  rgb(184, 158, 183);
  color:  #fff; 
}


.carrito {
  font-size: 0.9rem;
  transition-duration: 0.5s;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  color: rgb(118, 94, 118);
  border-bottom: rgb(184, 158, 183);
  margin: 30px 693px 10px 682px;
}
.carrito:hover {
  background-color: rgb(184, 158, 183);
  box-shadow: 0px 0px 30px rgb(184, 158, 183);
  color: white;
}

.remera {
  transition: all 0.3s ease-in-out;
}

.remera:hover {
  transform: scale(0.9);
}


/* proximas fechas */


.dropdown{
  background-color:  rgb(184, 158, 183);
  color: #fff; 
  transition: 0.4s ease;
  border-radius: 5px;
}

.dropdown:hover{
  box-shadow: 0px 0px 30px  rgb(184, 158, 183);
      
}

.dropdown:hover > .dropdown-menu{
  opacity: 1;
}
.btn2{
  color: #fff;
  border: none;
  background-color: transparent;   
}

.dropdown-menu{
  transition: 0.2s linear;
  opacity: 0;
  background-color:  rgb(184, 158, 183);
  width: 175px;
  box-shadow: 0px 0px 30px  rgb(184, 158, 183) ;
      
}

.dropdown-item{
  transition-duration: 0.2 linear;
      
}
.dropdown-item:hover{
  background-color: black;
  color: #fff;      
}

.ticket1 {
  display: flex;
  justify-content: space-around;
}
.ticket1 .flex1 {
  display: block;
}
.ticket1 .ticket {
  text-align: left;
}
.ticket1 .imagen-prox {
  text-align: center;
}

.imagen-prox1{
  transition: all 0.2s ease-in;
}

.imagen-prox1:hover {
  transform: scale(1.03);
}



/* variable */
/* Inicio */
/* tipo de letra copiado de google https://fonts.google.com/ - selecciono la letra - familia seleccionada - importar - copio y pego style sin la etiqueta */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; /* para que no se modifique en otra pantalla */
  font-family: sans-serif; /* para el tipo de letra */
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
}

header nav ul li {
  list-style: none;
  display: inline-block;     
  background-color: black;  
}

header nav ul li a:hover {
  color:  rgb(184, 158, 183);
}

.img {
  text-align: center;
  margin: 0px 20px 0px 20px;
}

#carouselExampleFade {
  margin: 10px 20px 5px 20px;
}

.video {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 40px 30px;
}

.contacto {
  text-align: center;
  margin: 0px 0px 30px;
}


.contacto .contacto2 {
  margin: 20px 10px 30px 10px;
}



.seguinos {
  background-color: rgb(184, 158, 183);
  color: black;
  text-align: center;
  font-size: 1.2rem;
  margin: 60px 0px 30px 0px;
}

.text-center{
  padding: 20px 300px;
}

.contactanos{
  background-color: rgb(184, 158, 183);
  color: black;
  text-align: center;
  font-size: 1.2rem;
  margin: 0px 0px 30px 0px;
}

.enviar {
  font-size: 1.0rem;
  transition-duration: 0.5s;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  color: rgb(118, 94, 118);
  border-bottom: rgb(184, 158, 183);
  margin: 20px 0 10px 20px;
}
.enviar:hover {
  background-color: rgb(184, 158, 183);
  box-shadow: 0px 0px 30px rgb(184, 158, 183) ;
  color: white;
}

.color-linea{
  color: rgb(184, 158, 183);
}

.redes-sociales{
  transition: all 0.3s ease-in-out;
}

.redes-sociales:hover {
  transform: scale(1.3);
}
           


/* MEDIA QUERIES */
/* Tablet */

@media  (max-width: 768px) { /* heigt 476 */
 
  
/* Index */
.media{
  width: 727px;
  height: 450px;
}

.media1{
  width: 727px;
  height: 450px;
}

.video{
  display: block;
  text-align: center;
}

/* Bibliografia */
.text-center{
  padding: 20px 130px;
}

.texto-imagen{
  display: block;
  text-align: center;
}
.texto-imagen .parrafo1{
  margin: 0px 10px 10px 10px;
}

/* discografia */

.disco {
  display: grid;
  grid-template-areas: "imagen1 imagen2" "imagen1 imagen2 " "imagen1 imagen2" "imagen1 imagen2 ""imagen1 imagen2 ""imagen1 imagen2 ""imagen1 imagen2 ""imagen1 imagen2 " "imagen1";
  grid-template-columns: 350px 350px ;
  grid-template-rows: auto;
  gap: 10px;
  justify-content: center;
}

.disco-titulo-decotarion-none{
  text-align: center;
}

/* Proximas fechas */

.imagen-prox1 {
  width: 600px;
  height: 450px;
  
}


  .carrito{
    margin: 10px 244px 0px 244px;
    padding: 15px 70px;
    height: 101.6px;
    width: 280.2px;
}
    
    }

/* Mobile */
@media (min-width: 577px) {
  .img1 {
    display: none;
  }
}
@media (max-width: 576px) {   /* heigt 476 */
  h1 {
    display: block;
    align-items: center;
    background-color: rgb(184, 158, 183);
    color: black;
    padding: 10px 10px 10px 10px;
  }
  header nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    margin: 20px 0px 20px 0px;
    padding: 0%;
  }
  .index {
    width: 576px;
    height: 216px;
  }

  .index1 {
    width: 576px;
    height: 216px;
  }

  #carouselExampleFade {
    display: none;
  }
  .img1 {
    align-items: center;
  }
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .media{
    width: 460px;
    height: 215px;
  }

  /* Bibliografia */
  h2 {
    display: block;
    align-items: center;
    font-size: 1.8rem;
    background-color: rgb(184, 158, 183);
    color: black;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
  }
  .texto-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-imagen .parrafo1{
    margin:0px 10px 10px;;
  }


  /* Discografia */
  .disco {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Proximas fechas */
  .ticket {
    display: inline-block;
    text-align: center;
  }
  .ticket1 {
    display: inline-block;
    text-align: center;
    width: 576px;
  }
  .imagen-prox1 {
    margin: 10px 0px 10px 0px;
    width: 574px;
    height: 450px;
    text-align: center;
  }
  /* Tienda */
  .local1 {
    display: inline-block;
    text-align: center;
    width: 576px;
  }
  .flex {
    display: inline-block;
    text-align: center;
  }
  .tienda {
    display: inline-block;
    text-align: center;
  }
  /* .carrito {
    font-size: 0.9rem;
  transition-duration: 0.5s;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  color: rgb(228, 60, 47);
  border-bottom: rgb(228, 60, 47);
  margin: 30px 693px 10px 682px;
  } */
/*# sourceMappingURL=style.css.map */

.carrito{
  margin: 10px 148px 10px;
}
}