

@import "bibliografia";
@import "discografia";
@import "proximasfechas";
@import "tienda";

/* variable */
$rojocuarteto: rgb(228, 60, 47); 
$violetacuarteto: rgb(184, 158, 183);
$violetacuarteto-letra: rgb(118, 94, 118);
   

/* Datos genericos e index */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
/* tipo de letra copiado de google https://fonts.google.com/ - selecciono la letra - familia seleccionada - importar - copio y pego style sin la etiqueta */

* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box; /* para que no se modifique en otra pantalla */
   font-family: sans-serif;/* para el tipo de letra */     
}

body {
   background-color: rgb(0, 0, 0);
   color:white;
}

header nav ul{
   display: flex;
   justify-content: space-evenly;
   font-size: 1.4rem;
   }
   
   header nav ul li{
    list-style: none;
    display: inline-block;
 }
 header nav ul li a {
  color: white;
  text-decoration: none;
}
 header nav ul li a:hover{
    color: $rojocuarteto; 
  }

  h1 {
    text-align: center;
    background-color: black;
    padding: 30px 40px 50px 60px;
    font-size: 2.7rem;
  }
  
  h2 {
    background-color: $violetacuarteto;
    color: black;
    text-align: center;
    font-size: 1.3rem;
    margin: 60px 0px 30px 0px;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }

  .contacto{
    text-align: center;
    margin: 0px 0px 30px;
    .contacto2{
      margin: 20px 10px 30px 10px
    }
  }
  
  .seguinos {
    background-color: $violetacuarteto;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    margin: 60px 0px 30px 0px; 
  }
  
/* bibliografia */


/* Discografia */


/* Tienda */


/* proximas fechas */




 


/* MEDIA QUERIES */

/* Tablet */
@media only screen and (max-width: 768px) {
  
}

/* Mobile */

/* Index.html Inicio  */

@media (min-width: 577px) {

  .img1{
     display: none;
  }
}

  

 @media (max-width: 576px) { 

  h1{
     display: block;
     align-items: center;
     background-color: aliceblue;
     color: black;
     padding: 10px 10px 10px 10px;
     
    }
  

 header nav ul{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  margin: 20px 0 20px 0;
  }
  
 #carouselExampleFade{
    display: none;
  }

  .img1{
     align-items: center;
  }

  .video{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 8px;
   }
  
   /* Bibliografia */

   

   h2{
     display: block;
     align-items: center;
     font-size: 1.8rem;
     background-color: aliceblue;
     color: black;
     padding: 10px 10px 10px 10px;
     margin: 0 0 0 0;
     
   }


   .texto-imagen{
     display: flex;
     flex-direction: column;
     align-items: center;
   }


   footer img{
     width: 550px;
     height: 310px;
     margin: 0px 10px 10px 10px;
   }


   /* Discografia */

  .disco{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
  


   /* Proximas fechas */

   .ticket{
    display: inline-block;
    text-align: center;
  }


   .ticket1{
    display: inline-block;
    text-align: center;
    width: 576px;
  }
   .imagen-prox1{
    margin: 10px 0px 10px 0px;
    width: 574px;
    height: 450px;
    text-align: center;
  }




   /* Tienda */


   .local1{
    display: inline-block;
    text-align: center;
    width: 576px;
  }


  
   .flex{
    display: inline-block;
    text-align: center;
    
  }

  .tienda{
    display: inline-block;
    text-align: center;
    
  }

  .carrito{
    display: grid;
    justify-content: center;

   
  }
}

