
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
/* tipo de letra copiado de google https://fonts.google.com/ - selecciono la letra - familia seleccionada - importar - copio y pego style sin la etiqueta */

* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box; /* para que no se modifique en otra pantalla */
   font-family: sans-serif;/* para el tipo de letra */     
}

body {
   background-color: rgb(0, 0, 0);
   color:white;
}

/* Inicio */

header nav ul{
   display: flex;
   justify-content: space-evenly;
   font-size: 1.4rem;
   
}


header nav ul li{
   list-style: none;
   display: inline-block;
}


header nav ul li a:hover{
  color: rgb(228 60 47); 
}

.img {
  text-align: center;   
  margin: 0px 20px 0px 20px;   
}

#carouselExampleFade{
  margin: 10px 20px 5px 20px; 
}


.video {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 40px 30px;  
}

.contacto{
  text-align: center;
  margin: 0px 0px 30px;
}

.contacto2{
  margin: 20px 10px 30px 10px
}

.seguinos {
  background-color: rgb(184 158 183);
  color: black;
  text-align: center;
  font-size: 1.2rem;
  margin: 60px 0px 30px 0px; 

}




/* Bibliografia */

h1 {
  text-align: center;
  background-color: black;
  padding: 30px 40px 50px 60px;
  font-size: 2.7rem;
}	


header nav ul li a{
  color: white;
  text-decoration: none;      
}

.texto-imagen{
  display: grid;
  grid-template-areas:
  "strong img"
  "strong p";
  grid-template-columns: 700px auto;
  grid-template-rows: 400px auto;
  gap: 10px;

}

.parrafo1{
  text-align: justify;
  margin: 0px 10px 10px 10px;
}

.parrafo2{
  text-align: justify;
  grid-area: p;
  margin: 0px 10px 10px;

} 

.imagen{
  grid-area: img;

}

.imagen1{
  display: none;
   
 }

/* Discografia  */

h2 {
  background-color: rgb(184 158 183);
  color: black;
  text-align: center;
  font-size: 1.2rem;
  margin: 60px 0px 30px 0px; 

}

.disco{
  display: grid;
  grid-template-areas:
  "imagen1 imagen2 imagen3 imagen4"
  "imagen1 imagen2 imagen3 imagen4"
  "imagen1 imagen2 imagen3 imagen4"
  "imagen1 imagen2 imagen3 imagen4"
  "imagen1";
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: 350px 350px 350px 350px 350px;
  gap: 10px;
  justify-content: center;
}


/* Proximas fechas */

.ticket1{
  display: flex;
  justify-content: space-around;
}

.flex1{
  display: block;
}


.ticket{
text-align: left; 
}

.agosto{
  margin: 5px 0px 5px;
}

/* Tienda */

h3 {
   font-size: 1.2rem;    
} 

h4 {
   font-size: 1.2rem;    
} 

.talles {
   font-size: 1.2rem;    
} 

.local1{
  display: flex;
  justify-content: space-around;
}

.flex{
  display: block;
  margin: 0 0 0 20px;
  
}

.imagen-prox{
   text-align: center;
       
}


form select {
   transition-duration: 0.5s;
   padding: 10px 5px 10px 5px;
   font-size: 1.0rem;
   border-radius: 8px;
   color: rgb(228 60 47);
   border-bottom: rgb(228 60 47);
       
}

form select:hover{
  background-color: rgb(228 60 47);
  color: white;
}
      


.tienda {
   text-align: center;  
}  

footer form input{
   border: right 20px;
   background-color: black;
   color: white;
   font-size: 1.2rem;
   width: 10rem;
   height: 10rem;
       
}

.carrito {
  transition-duration: 0.5s;
  padding: 20px 10px 20px 10px;
  border-radius: 8px;
  color: rgb(228 60 47);
  border-bottom: rgb(228 60 47);
  margin: 0 0 10px 20px;
} 

.carrito:hover{
  background-color: rgb(228 60 47);
  color: white;
  
  
} 


/* MEDIA QUERIES */

/* Tablet */
@media only screen and (max-width: 768px) {
  
}

/* Mobile */

/* Index.html Inicio  */

@media (min-width: 577px) {

  .img1{
     display: none;
  }
}

  

@media (max-width: 576px) {

  h1{
     display: block;
     align-items: center;
     background-color: aliceblue;
     color: black;
     padding: 10px 10px 10px 10px;
     
  }
}

 header nav ul{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  margin: 20px 0 20px 0;
  }
  
 #carouselExampleFade{
    display: none;
  }

  .img1{
     align-items: center;
  }

  .video{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 8px;
   }
  
   /* Bibliografia */

   

   h2{
     display: block;
     align-items: center;
     font-size: 1.8rem;
     background-color: aliceblue;
     color: black;
     padding: 10px 10px 10px 10px;
     margin: 0 0 0 0;
     
   }


   .texto-imagen{
     display: flex;
     flex-direction: column;
     align-items: center;
   }


   footer img{
     width: 550px;
     height: 310px;
     margin: 0px 10px 10px 10px;
   }


   /* Discografia */

  .disco{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
  


   /* Proximas fechas */

   .ticket{
    display: inline-block;
    text-align: center;
  }


   .ticket1{
    display: inline-block;
    text-align: center;
    width: 576px;
  }
   .imagen-prox1{
    margin: 10px 0px 10px 0px;
    width: 574px;
    height: 450px;
    text-align: center;
  }




   /* Tienda */


   .local1{
    display: inline-block;
    text-align: center;
    width: 576px;
  }


  
   .flex{
    display: inline-block;
    text-align: center;
    
  }

  .tienda{
    display: inline-block;
    text-align: center;
    
  }

  .carrito{
    display: grid;
    justify-content: center;

   
  }

        